@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e11r8s');
  src:  url('fonts/icomoon.eot?e11r8s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e11r8s') format('truetype'),
    url('fonts/icomoon.woff?e11r8s') format('woff'),
    url('fonts/icomoon.svg?e11r8s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest2:before {
  content: "\ead2";
}
