#social {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social {
  margin-top: auto;
}
#social ul {
  list-style: none;
  margin-top: 30px;
}
#social ul li a {
  display: inline-block;
  color: #fff;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
#social ul li .icon-facebook {
  background: #3b5998;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
#social ul li .icon-twitter {
  background: #00abf0;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
#social ul li .icon-mail4 {
  background: #d95232;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
#social ul li .icon-pinterest2 {
  background: #ae181f;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
#social ul li .icon-instagram {
  background: #666666;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
footer .img {
  display: inline-block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.formulaire {
  display: inline-block;
  margin: 30px 10px 10px 10px;
  text-align: center;
  width: 30%;
}
h3 {
  font-size: 30px;
}
footer {
  top: 0;
  left: 0;
}
h2 {
  margin: 0;
  text-align: center;
}
@media screen and (max-width:500px){
    .formulaire{
        width:100%;
    }
}
.contact{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom:10px;
    h4{
        text-align:center;
    }
}
.rescontact{
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
#adresse{
    width: 50px;
}
#phone{
    width: 50px;
}
