#general-presentation {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  div:nth-child(1) {
    overflow: hidden;
    margin: 0;
    width: 50%;
    img {
      height: 500px;
    }
  }
  div:nth-child(2) {
    padding: 30px;
    margin: 0;
    width: 50%;
    p{
      padding: 20px 0;
    }
  }
}
#our-strenght {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #ed1450;
    color: white;
    text-transform: uppercase;
  }
  ul {
    width: 50%;
    line-height: 35px;
    font-weight: bold;
    margin: 30px 0;
    background-color: rgba(237, 20, 80, 0.5);
  }
}

// Media qweries à 500px

@media (max-width: 500px) {
  #general-presentation {
    div:nth-child(1) {
      width: 100%;
    }
    div:nth-child(2) {
      width: 100%;
    }
  }
  #our-strenght {
    h2 {
      width: 100%;
      padding: 30px 0;
    }
    ul{
      width: 100%;
      margin: 0;
      padding: 30px;
    }
  }
}
