.header{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #ed1450;
    flex-wrap:wrap;

    .nav{
        background-color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: 3px solid #ed1450;
        border-top: 3px solid #ed1450;
        border-right: 3px solid #ed1450;
        ul{
            width:100%;
            margin-left:-7%;
            li{
                list-style: none;
                float:left;
                width: 20%;
                text-align: center;
                height: 106px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            li:hover{
                background-color: rgb(43, 43, 43);
            }
        }
        a{
            color: #ed1450;
            text-decoration: none;
        }
    }
    .logosimplon{
        max-width: 50%;
        background-color: #fff;
        float: left;
    }
}
@media screen and (max-width:500px){
    .nav{
        width:100%;
        height: 90px;
        li{
            font-size:10px;
        }
    }
}
