#our-trainings {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  h2 {
    width: 100%;
    background-color: rgb(231, 226, 226);
    padding: 30px 0;
  }
  img {
    height: 500px;
  }
  .training-txt {
    box-sizing: border-box;
    width: 60%;
    padding: 40px;
  }
  h3 {
    width: 100%;
  }
}
.training-img {
  overflow: hidden;
  width: 40%;
}
@media (max-width: 500px) {
  #our-trainings {
    .training-txt {
      width: 100%;
      &:nth-child(4) {
        order: 2;
      }
    }
    .training-img {
      width: 100%;
      // &:nth-child(2) {
      //   order: 3;
      // }
    }
  }
}
