 h2{
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    
}
#marie{
    width:20%;
    height:auto;
    
}
ul {
    list-style: none; 
    text-align: left;
    }

#faustine{
    width:20%;
    height:auto;

}

#Julien{
    width:20%;
    height:auto;

}
h2{
    color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
}